<div class="container_big_card">
  <div class="picture_big_card">
  <img src="https://i.stack.imgur.com/luaq2.png"
  alt=""
  srcset=""
  >
  </div>
  <div class="title_big_card">
    <h1><a href="#">Nova versão do angular é lançada</a></h1>
  </div>
  <div class="description_big_card">
    <a href="#"><p> ipsum dolor sit amet, consectetur adipisicing elit. Eveniet, porro! Dolorum aliquid veniam voluptatem consectetur dolorem officiis enim, neque, ad distinctio dicta delectus fuga necessitatibus mollitia! Dolor omnis autem voluptates.</p>
  </a>
    </div>
</div>
