<div class="container_menu_bar">
  <ul>
    <li><a href="https://www.linkedin.com/in/thúllyo-barcellos-953532269/"><img src="https://static.vecteezy.com/system/resources/previews/017/339/624/non_2x/linkedin-icon-free-png.png"></a></li>
    <li><span></span></li>
    <li><a href="https://github.com/Thullyoo"><img src="../../../assets/images/githubicon.png" width="200px" height="20px"></a></li>
    <li><span></span></li>
    <li><a href="https://www.instagram.com/thullyo1/"><img src="../../../assets/images/instagramicon.png"></a></li>
  </ul>
</div>
